body {
    background: url(background7.jpg) no-repeat;
}
.box {
    width: 400px;
    height: 200px;
    padding: 20px 5px;
}

a {
    text-decoration: none;
    font-size: 48px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    padding: 20px 0;
}

a:hover {
    color: red;
}